
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Editar Datos de Alumno</h3>
        </div>
        <div class="card-body">
            <form action="/students/update/{{alumno._id}}?_method=PUT" method="post">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text" name="nombre" value="{{alumno.nombre}}" class="form-control" placeholder="Nombre(s)" autofocus required>
                </div>
                <div class="form-group">
                    <input type="text" name="ap_paterno" value="{{alumno.ap_paterno}}" class="form-control" placeholder="Apellido Paterno" autofocus
                        required>
                </div>
                <div class="form-group">
                    <input type="text" name="ap_materno" value="{{alumno.ap_materno}}" class="form-control" placeholder="Apellido Materno" autofocus
                        required>
                </div>
                <div class="form-group">
                    <input type="text" name="matricula" value="{{alumno.matricula}}" class="form-control" placeholder="Matricula" autofocus required>
                </div>
                <div class="form-group">
                    <input type="text" name="password" value="{{alumno.password}}" class="form-control" placeholder="Contraseña" autofocus
                        required>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Carrera</label>
                    <select class="form-control" name="carrera">
                        <option value="0">Seleccione:</option>
                        {{!-- {{#each carreras}}
                        <option value="{{_id}}">{{Nombre_carrera}}</option>
                        {{/each}} --}}
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Semestre</label>
                    <!-- MODIFICAR SELECCIONAR POR LA BASE DE DATOS -->
                    <select class="form-control" name="semestre">
                        <!-- <option selected>Elijir...</option> -->
                        <option value="0">Seleccione:</option>
                    </select>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>